@{
    ViewData["Title"] = "Gizlilik Politikası";
}

<div class="container mt-5">
    <h1>Gizlilik Politikası</h1>
    <p>
        Sitemizdeki kişisel verilerinizin güvenliği bizim için önemlidir. 
        Bilgileriniz, üçüncü şahıslarla paylaşılmaz ve yalnızca hizmet kalitesini artırmak amacıyla kullanılır.
    </p>
    <p>
        Daha fazla bilgi için lütfen bizimle iletişime geçin.
    </p>
</div>
