<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StoreApp.Web</title>
    @await Html.PartialAsync("PartialViews/_StylesPartial")
</head>
<body>
    @await Html.PartialAsync("PartialViews/_HeaderPartial")

    <div>
        @RenderBody()
    </div>
  
    @await Html.PartialAsync("PartialViews/_FooterPartial")
    
    @await Html.PartialAsync("PartialViews/_ScriptsPartial")


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
